fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg2-binary

alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.3.0

python-multipart

websockets

redis

fastapi[standard]

pytest
cloudinary
